#error-window{
    position: fixed;
    height:160px;
    left: 50%;
    top:30%;
    transform: translate(-50%, 0);
    background-color:silver;
}
#error-window-container{
    display: flex;
    flex-direction: column;
}
#error-window-top{
    font-family: 'window95';
    background-color: rgb(14, 12, 131);
    width: 399px;
    height:25px;
    line-height: 22px;
    color:#fff;
}

#error-window-middle{
    display: flex;
    align-items: center;
}
#error-window-middle>div{
    font-family: 'Galmuri9';
    margin-left:47px;
}
#error-window-middle>img{
    width:88px;
    height:80px;
}

#error-window-bottom{
    height:50px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
#error-window-bottom>button{
    font-family: 'Galmuri9';
    width:95px;
    height:25px;
    margin-bottom: 8px;
    border:2px solid black;
    background-color: silver;
    box-shadow:2px 2px black;
}
#error-window-bottom>button:active{
    border:2px solid white;

}

@font-face{
    font-family: 'window95';
    src:url(../font.ttf);
}
@font-face{
    font-family: 'Galmuri9';
    src:url(../Galmuri9.ttf);
}