#icon1{
    border:#008B8B solid 1px;
    margin-bottom:30px;
    width:85px;
    /* margin: 0 auto; */
}
#mycomputer{
    margin-left:14px;
    width:50px;
    height:50px;
}
#icon1text{
    color:white;   
    text-align: center;
    font-size: small;
}
#icon1:active{
    border:black dotted 1px;
}

#icon2{
    border:#008B8B solid 1px;
    margin-bottom:30px;
    width:88px;
}
#network{
    margin-left:14px;
    width:50px;
    height:50px;
}
#icon2text{
    color:white;   
    text-align: center;
    font-size: small;
}
#icon2:active{
    border:black dotted 1px;
}

#icon3{
    border:#008B8B solid 1px;
    margin-bottom:30px;
    width:85px;
}
#trash{
    margin-left:14px;
    width:50px;
    height:50px;
}
#icon3text{
    color:white;   
    text-align: center;
    font-size: small;
}
#icon3:active{
    border:black dotted 1px;
}
#icon4{
    border:#008B8B solid 1px;
    width:85px;
    margin-bottom:30px;
}
#music{
    margin-left:14px;
    width:50px;
    height:50px;
}
#icon4text{
    color:white;   
    text-align: center;
    font-size: small;
}
#icon4:active{
    border:black dotted 1px;
}