#taskbar{
    /* position: absolute; */
    bottom:0;
    width:1200px;
    margin:0 auto;
    border:solid silver 1px;
    background-color:rgb(163, 162, 162);
    display:flex;
}
#logo{
    width:30px;
    height:30px;
    position:relative;
    top:5px;
    margin-bottom: -4px;
}
#logobox{
    display: inline-block;
    position: relative;
    bottom:0px;
    font-family: 'window95';
    background-color: silver;
    border:3px outset gray;
    width:82px;
    height:41px;
    font-size: 20px;
}
#logobox:active{
    border:3px outset white;
}
#clock{
    margin-right:2px;
    margin-top:2px;
    border:1px inset silver;
    position: fixed;
    text-align: center;
    line-height: 38px;
    right:0;
    width:100px;
    height:38px;
}




*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face{
    font-family: 'window95';
    src:url(../font.ttf);
}