/* test 폴더에 노트북미디어쿼리 css 적용 */



html,body{
    height:100%;
}
#window{
    margin:0 auto;
    width:600px;
    height:500px;
    border:1px solid black;
}
#window-top{
    border:1px solid blue;
    display:flex;
    justify-content: space-between;
}
#window-top-button{
    width:15px;
    text-align: center;
    border:1px solid black;
}





