*,
*::before,
*::after{
    box-sizing: border-box;
}

#window{
    background-color: silver;
    margin:0 auto;
    /* border:3px solid black; */
    width:50%;
    height:700px;
}
#window_top{
    background-color: rgb(14, 12, 131);
    color:white;
    position: relative;
    margin:5px 3px;
    padding-left: 10px;
    /* border-bottom:1px solid black; */
    /* border-top:1px solid black; */
    height:30px;
    font-family: 'window95';
    line-height: 28px;
}
#window_top_button{
    margin-top:4px;
    margin-right:4px;
    position:absolute;
    right:0;
    /* border:2px solid black; */
    font-family: 'window95';
    font-weight: 900;
    background-color: silver;
}
#window_index{
    
    height:550px;
    display: flex;
}
#window_index_img{
    background-image: url(../img/momentum.PNG);
    background-repeat: round;
    margin:20px;
    border:1px inset white;
    width:200px;
    height:525px;
}
#window_index_text{
    /* border:1px solid black; */
    width:450px;
    height:525px;
    margin:20px 5px;
    line-height: 1.8;
}
#window_index_text_text>h1{
    margin-top:0;
    font-family: 'Source Serif Pro', serif
}
#window_index_text{
    font-family: 'window95';
}
#window_bottom{
    
    /* border-top:1px solid black; */
    height:110px;
}
#window_bottom_back,
#window_bottom_next,
#window_bottom_enter{
    font-family: 'window95';
    position: relative;
    top:60px;
    float:right;
    margin:5px;
    width:100px;
    height:30px;
    border:2px solid white;
    box-shadow:2px 2px black;
}
#window_bottom_next{
    margin-left: 0;
}
#window_bottom_back{
    margin-right: 3px;
}
#window_bottom_back:active,
#window_bottom_next:active,
#window_bottom_enter:active{
    border:2px solid black;
}

@media(min-width:1200px){
    
}



@font-face{
    font-family: 'window95';
    src:url(../font.ttf);
}