/* test 폴더에 노트북미디어쿼리 css 적용 */

html,
body {
  height: 100%;
}
a {
  all: unset;
}
button {
  cursor: pointer;
}
#window {
  top: 7%;
  right: 20%;
  position: fixed;
  z-index: 99999;
  background-color: silver;
  margin: 0 auto;
  width: 480px;
  height: 550px;
}
#my-info {
  top: 7%;
  right: 20%;
  position: fixed;
  z-index: 99999;
  background-color: silver;
  margin: 0 auto;
  width: 600px;
  height: 500px;
}
#window-top {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(14, 12, 131);
  color: white;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "window95";
}
#my-info-top {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(14, 12, 131);
  color: white;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "window95";
}
#window-top-header {
  margin-top: 3px;
}
#my-info-top-header {
  margin-top: 3px;
}
#window-top-button {
  text-align: center;
  color: black;
  margin: 2px;
}
#my-info-top-button {
  text-align: center;
  color: black;
  margin: 2px;
}
#window-top-container {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my-info-top-button-container {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#my-info-header {
  width: 92%;
  height: 10%;
  margin: 0 auto;
  line-height: 53px;
  font-size: 30px;
  margin-top: 10px;
  font-family: "Galmuri9";
}
#my-info-header > span {
  font-weight: 900;
}
#my-info-section {
  margin-top: 10px;
  display: flex;
  height: 110%;
}
#my-info-article {
  width: 80%;
  height: 60%;
}
#my-info-article-section {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background-color: beige;
  border: 2px inset silver;
  margin-left: 23px;
  overflow-y: scroll;
}
#my-info-aside {
  width: 30%;
  height: 63%;
  display: flex;
  flex-direction: column;
}
#content-container {
  margin: 5px;
}
#aaa {
  font-family: "Galmuri9";
}
#title {
  font-family: "Galmuri9";
  font-weight: 600;
  text-align: center;
}
.box-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 310px;
  height: 25px;
  border: 1px solid black;
}
#languages {
  font-family: "window95";
}
li {
  font-family: "window95";
}
#certification {
  font-family: "window95";
  font-size: 1.5rem;
}
#certification2,
#contact {
  font-family: "Galmuri9";
}
#contact-title {
  font-family: "window95";
  font-size: 1.5rem;
}
.box {
  width: 15px;
  height: 20px;
  background-color: black;
}
#my-info-aside > a {
  text-align: center;
  font-size: 15px;
  line-height: 29px;
  width: 129px;
  height: 27px;
}
.nav-button {
  width: 133px;
  height: 30px;
  margin: 0 auto;
  margin: 10px;
  background-color: silver;
  border: black 2px solid;
  box-shadow: 2px 2px;
  font-family: "window95";
  margin-left: 15px;
}
.nav-button:active {
  border: white 2px solid;
}
#nav-button5 {
  margin-top: 146px;
}
.top-icon {
  margin-left: 2px;
  width: 20px;
  border: 1px solid black;
  background-color: silver;
}
#window-section {
  display: flex;
  width: 100%;
  height: 80%;
}
#window-section-img {
  /* background-image: url(../img/momentum.PNG); */
  background-repeat: round;
  border: 1px solid black;
  width: 25%;
  height: 90%;
  margin: 15px 20px;
  border: 1px inset white;
  background-color: white;
}
#window-section-section {
  width: 50%;
  height: 90%;
  margin: 15px;
  font-size: 1rem;
  line-height: 20px;
  font-family: "Galmuri9";
}
#window-section-header {
  font-size: 1.6rem;
  line-height: 60px;
}
#window-nav {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.window-nav-button {
  background-color: silver;
  font-family: "window95";
  height: 40%;
  width: 20%;
  line-height: 190%;
  text-align: center;
  border: black 2px solid;
  box-shadow: 2px 2px;
}

#window-nav-back {
  margin-right: 2px;
}
#window-nav-next {
  margin-right: 10px;
}
#window-nav-enter {
  font-size: 0.9rem;
  margin-right: 5px;
  height: 36%;
}

#close-button:active {
  border: 1px inset white;
}
.hidden {
  display: none;
}

#myFace {
  width: 100%;
  display: flex;
  justify-content: center;
}
#myFace > img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
@font-face {
  font-family: "window95";
  src: url(../font.ttf);
}
@font-face {
  font-family: "Galmuri9";
  src: url(../Galmuri9.ttf);
}

@media (min-width: 1200px) {
  #window {
    right: 50%;
  }
  #my-info {
    right: 35%;
  }
}

@font-face {
  font-family: "HBIOS-SYS";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
