#taskbar{
    position: fixed;
    bottom:0;
    width:100%;
    margin-left:-8px;
    border:solid silver 1px;
    background-color:rgb(163, 162, 162);
}
#logo{
    width:30px;
    height:30px;
    position:relative;
    top:10px;
}
#logobox{
    position: relative;
    bottom:8px;
    font-family: 'VT323', monospace;
    background-color: silver;
    border:3px outset gray;
    width:77px;
    height:44px;
    font-size: 20px;
}
#logobox:active{
    border:3px outset white;
}
body{
    background-color: #008B8B;
}



*,
*::before,
*::after{
    box-sizing: border-box;
}